.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-top-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-center-left {
  display: flex;
  align-items: center;
}

.header-center-left {
  display: flex;
  gap: 30px;
  img {
    width: 250px;
  }

  #img {
    width: 400px;
  }
}